@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap'); /* font-family: 'Red Hat Display', sans-serif; (500, 700, 900) */

:root {
    --pale-blue1: hsl(225, 100%, 94%);
    --bright-blue: hsla(245, 75%, 52%, 0.74);
    --pale-blue2: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);   
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Red Hat Display', sans-serif;
}

img {
    max-width: 100%;
}

.container-main {
    height: 100vh;
    max-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/pattern-background-desktop.svg) no-repeat;
    background-size: cover;
}

.container-card {
    height: 70rem;
    width: 45rem;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    border-radius: 2rem;
    box-shadow:  0px 5px 10px rgba(0, 0, 0, 0.411);
}

.container-card__texts {
    padding: 3rem 2rem;
    width: 100%;
    height: 48rem;
}

.h1 {
    font-size: 2.8rem;
    font-weight: 900;
}

.paragraph {
    color: var(--desaturated-blue);
    margin: 0 2.5rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 500;
}

.container-card__plan {
    background-color: var(--pale-blue2);
    border-radius: 1rem;
    height: 10rem;
    width: 35rem;
    display: flex;
    flex-direction: row;
    margin: 2rem auto 4rem auto;
    align-items: center;
    padding: 1.9rem 0 2.2rem 2.2rem;
}

.card__plan-icon {
    margin-right: 2rem;
}

.icon {
    display: block;
    margin-top: .8rem;
}

.h2-plan {
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 0.4rem;
}
.paragraph-plan {
    margin: 0;
}

.btn {
    text-decoration: none;
    display: block;
}

.btn0 {
    color: rgba(73, 71, 71, 0.582);
    margin-left: 9rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.btn0:hover {
    color: var(--bright-blue);
}

.buttons {
    margin: 0 auto;
    height: 10rem;
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}
.btn1,
.btn2 {
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1.5rem 10rem;
}

.btn1:hover,
.btn2:hover {
    background-color: var(--bright-blue);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem 10rem;
    border-radius: 1rem;
    box-shadow: 0.4px 4px 10px rgba(0, 0, 0, 0.473);
}

@media (max-width: 600px) {
    html {
        font-size: 45%;
    }

    .btn0 {
        margin-left: 6rem;
    }
}